.home-page {
  padding: 20px;
  text-align: center;
  margin-bottom: 80px; /* Отступ под футер */
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.home-img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}