.header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}