body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.my-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background 0.3s;
}

.my-btn:hover {
  background-color: #0056b3;
}