body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 10px;
  text-align: center;
}
.btn {
  background: #646cff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.btn:hover {
  background: #535bf2;
}

.dark-mode {
  background-color: #333;
  color: white;
  min-height: 100vh; /* На весь экран */
  padding: 20px;
}
.light-mode {
  background-color: #f0f0f0;
  color: black;
  min-height: 100vh;
  padding: 20px;
}